<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raevix.formulario" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".InicioActivity"
            android:icon="@drawable/logo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlankFormActivity"
            android:icon="@drawable/logo"
            android:label="@string/title_activity_blank_form" >
        </activity>
        <activity
            android:name=".TesteForm"
            android:icon="@drawable/logo"
            android:label="@string/title_activity_teste_form" >
        </activity>
        <activity
            android:name=".InscricaoActivity"
            android:icon="@drawable/logo"
            android:label="@string/title_activity_inscricao" >
        </activity>
        <activity
            android:name=".InscricaoAlunoActivity"
            android:label="@string/title_activity_inscricao_aluno" >
        </activity>
    </application>

</manifest>
